# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  linux-job:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: step1 - Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: step2 - Test with pytest
      run: |
        pwd
        uname -a
        python --version
        python test-1.py
  macos-job:
    runs-on: macos-10.14
    steps:
    - uses: actions/checkout@v2
    - name: step1 - Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: step2 - Test with pytest
      run: |
        pwd
        uname -a
        python --version
        python test-1.py
  windows-job:
    runs-on: windows-2016
    steps:
    - uses: actions/checkout@v2
    - name: step1 - Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: step2 - Test with pytest
      run: |
        cwd
        uname -a
        python --version
        python test-1.py
